html {width:100%}
.mainBackground {
	background-color: #5b5a5e;
	background: -webkit-linear-gradient(#5b5a5e, lightgrey) fixed;
    background: -o-linear-gradient(#5b5a5e, lightgrey) fixed;
    background: -moz-linear-gradient(#5b5a5e, lightgrey) fixed;
    background: linear-gradient(#5b5a5e, lightgrey) fixed;
	min-height: 100%;
    margin: auto;
    background-repeat: no-repeat;
}
.myTitle {
	color: black;
	margin-top: 15px;
	margin-bottom:50px;
	font-family: "Comic sans", Times, serif;
	font-weight: bold;
	font-size: 35pt;
}
.homePicture {
	width:432px;
	height: 288px;
}
.subTitle {
	margin-top: 15px;
}
.carousel_img {
	height: 450px;
	width: 80%;
}
.home_text {color: #333538;}
.home_text:hover {
	color: white;
	background-color:white;
}
.home_text:visited {color: white;}
.home_text:active {color:white;}
.inverted {filter: invert(87%);}

.nav_logo {
	height: 49.375px;
	width: 76.25px;
}
.no_margin_top {margin-top:0;}
.no_margin_bottom {margin-bottom: 0;}
.margin_bottom_5 {margin-bottom: 5px;}
.margin_right_5 {margin-right: 5px;}
.margin_bottom_30 {margin-bottom: 30px;}
.margin_top_30 {margin-top: 30px;}
.no_border_bottom {border-bottom: none;}
.bold {font-weight: bold;}
.no_bold {font-weight: normal;}
.app_ul {
	list-style: none;
	font-size: 15pt;
}
.select_barber_img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.selection {
	
}
.description {
	font-size: 12pt;
	padding-left: 10px;
}
.custom_button {
	margin-top: 5px;
	height: 45px;
	width: 90px;
	border-radius: 30%;
	background-color: #e6e9ef;
	color: black;
}
.custom_button:hover {
	background-color: black;
	color: white;
}
td {
	padding-bottom: 10px;
	padding-right: 5px;
}
.contact_link {
	color:black;
	font-size: 20pt;
}
.contact_link:hover {
	color: black;
}
.contact_link:visited {color: black;}
.contact_link:active {color: black;}
.error_message {
	color: #a51c0d;
	font-weight: bold;
	list-style:  none;
}
.footer_link {
	color: black;
	font-size:20pt;
}
.footer_link:hover { color: black;}
.footer_link:visited { color: black;}
.footer_link:active { color: black;}
footer {
	font-size: 13pt;
	padding-bottom: 15px;
	padding-top: 15px;
	font-weight: bold;
	font-style: italic;
	color: grey;
    height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer_item {color: #2d62b7;}
.user_info {
	margin-top: 20px;
	font-size: 15pt;
	list-style-type: none;
	color: black;
}
.barber_list {
	font-size: 10pt;
	padding-right: 20px;
}
.service_list {
	font-size: 10pt;
}